/* ✅ Always keep font imports at the very top */
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');

@import "tailwindcss";
@import "tw-animate-css";

/* ✅ Global styles */
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
 
}


.navbarspan {
  font-family: 'BBH Sans Bogle', sans-serif;
  font-weight: 400;
  font-style: normal;
}
